* {
    border: none;
    font-size: 13px;
    margin: 2.5px;
    font-family: Product Sans, Arial, Helvetica, sans-serif;
}

window#waybar {
    background-color: #353b49;
    color: #d8dee9;
}

#workspaces {
    background-color: #2e3440;
    padding: 1px 5px 1px 5px;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 10px;
}

#workspaces button {
    background-color: transparent;
    font-size: 14px;
    margin: 0;
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    color: #5e81ac;
}

#workspaces button.focused {
    color: #81a1c1;
}

#workspaces button.urgent {
    color:  #BF616A;
}

/* TASKBAR */
#taskbar {
    margin: 2px 0px 2px 0px;
}
#taskbar button {
    border-radius: 10px;
    font-size: 13px;
    margin: 0px 3px 0px 3px;
    padding: 0px 3px 0px 3px;
}
#taskbar button.active {
    /* background-color: #434c5e; */
    background-color: #2e3440;
}
#taskbar button:hover {
    box-shadow: inherit;
    background-color: rgba(35,39,49,0.4);
}

/* WIDGETS */
#custom-weather, #custom-playerctl, #pulseaudio, #temperature, #cpu, #memory, #network, #language {
  font-size: 14px;
    background-color: #2e3440;
    padding: 0px 14px 0px 14px;
    margin: 2px 0px 2px 0px;
}

#custom-weather {
    color:#81a1c1;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 8px 0px 8px;
}

#custom-playerctl {
    color: #8fbcbb;    
}

#pulseaudio {
    color: #8fbcbb;    
}

#pulseaudio.muted {
    color: #4c566a;
}

#temperature {
    color:#c57078;
}

#cpu {
    color:#c57078;
}

#memory {
    color:#d08770;
}

#network {
  color: #9da98d;
}

#language {
    color: #ebcb8b;
    border-radius: 0px 10px 10px 0px;
}

#clock, #tray, #custom-power {
    background-color: #3b4252;
    padding: 2px 10px 2px 10px;
    margin: 2px 0px 2px 0px;
}

#tray {
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    color: #8fbcbb;
}

#clock {
    font-size: 14px;
}

#custom-power {
    color: #eceff4;
    font-size: 17px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 2px;
}
